.navbar {
    position: sticky;
    background-color: #fff;
    top: 0px;
    z-index: 1;
    display: flex;
}

.navbar-light .navbar-nav .nav-link {
    color: #d49216;
}

.navbar .icon a {
    font-size: 1.7rem;
    color: #000;
}

.navbar .fa-search {
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
}

.navbar .nav_right {
    display: flex;
}